button,
#userName {
  float: right;
  margin-left: 20px;
}
#userName {
  margin-top: 7px;
  font-size: 20px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

h2{
  margin-top: 100px;
}
.flex-container {
  // background-color: pink;
  height: 100%;
  // background-size: cover;
  width: 100%;
 // position: relative;
  // height: 100%;
   display: flex;
    text-align: center;
    align-items: center;
  flex-direction: column;
  position: absolute;
  background-image: url("../../assets/bgImg.jpg");
   background-size: cover;
}
// .body{
//    height: 80vh;
// }
th {
//  text-align: center;
  // align-items: center;
 // justify-content: center;
//  justify-content: center;
// width: 250;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
 // border: 1px solid red;
  /// font-style: oblique;
}
::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
 
}
h2 {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 30px;
  text-align: center;
  // margin-top: 100px;

}
td {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  /// font-style: oblique;
}
.courseName:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
table {
  width: 500px;
}
 tr:nth-child(even) {
            background-color: #EBEDEF
        }