<app-header
  (logout)="onLogout()"
  [userName]="userName.name"
  [isInstructorPage]="true"
  (onAddNewCourse)="onAddNewCourse()"
></app-header>

<div class="flex-container">
  <h2>Courses with number of enrolled students</h2>
  <h3 *ngIf="!dataSource.length">No data found</h3>

  <app-table
    *ngIf="dataSource.length"
    [data]="dataSource"
    [colData]="colData"
    (showCourseDetail)="onShowCourseDetail($event)"
  ></app-table>
</div>
<app-show-course-detail
  *ngIf="showCourseDetail"
  [courseDetail]="courseDetail"
  (close)="onCloseCD()"
></app-show-course-detail>
