  <div class="background">
  <div class="flex-container">
    <div class="loginDiv" *ngIf="isLogin">
      <h1>GS Lab University</h1>
      <form [formGroup]="loginForm">
        <mat-form-field class="form-field">
          <mat-label> Enter your email</mat-label>
          <input matInput #input formControlName="email" />
        </mat-form-field>
        <br />
        <mat-form-field class="form-field">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />

          <mat-icon
            class="icon"
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            {{ hide ? "visibility_off" : "visibility" }}</mat-icon
          >
        </mat-form-field>
        <br />
        <mat-checkbox formControlName="rememberme">
          Keep me signed in</mat-checkbox
        >
        <br /><br />
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!loginForm.valid"
          (click)="onSubmitLogin()"
        >
          Login
        </button>
        &nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="onSignup()">
          Singup
        </button>
        <div class="alter alter-danger" *ngIf="errorOccured">
          <h3>Error</h3>
          <p>{{ errorOccured }}</p>
        </div>
      </form>
    </div>

    <div class="singupDiv" *ngIf="isSignup">
      <h1>GS Lab University</h1>
      <form (ngSubmit)="onSubmitSignup()" [formGroup]="signupForm">
        <mat-form-field>
          <mat-label>Enter your name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Enter your mobile number</mat-label>
          <input matInput formControlName="mobile" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Enter your email</mat-label>

          <input matInput formControlName="email" />
          <mat-error *ngIf="true">Please enter a valid email</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Create your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />

          <mat-icon
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            {{ hide ? "visibility_off" : "visibility" }}</mat-icon
          >
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select required formControlName="role">
            <mat-option value="Student"> Student </mat-option>
            <mat-option value="Instructor"> Instructor </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <mat-radio-button value="male">male</mat-radio-button>
          <mat-radio-button value="female">female</mat-radio-button>
        </mat-radio-group>
        <br /><br />
        <button
          mat-raised-button
          color="primary"
          [disabled]="!signupForm.valid"
        >
          Singup
        </button>
        &nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="onLogin()">
          Back to Login
        </button>
        <div class="alter" *ngIf="errorOccured">
          <h3>Error</h3>
          <p>{{ errorOccured }}</p>
        </div>
      </form>
    </div>
  </div>
</div>