// .b {
//   //  background-image: url("/src/assets/backgroundLogin.jpeg");
//    background-color: navy;
// }
.flex-container {
  // background-color: navy;
  // width: 100px;
  // height: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
  //   background-image: url("/src/assets/backgroundLogin.jpeg");
  //height: 100vh;
  // width: 100vh;
   background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(233, 227, 227);
    background-image: url("../../assets/loginBackground1.jpeg");
  mat-form-field {
    font-size: 18px;
    width: 300px;
  }
  mat-icon:hover {
    cursor: pointer;
  }
}
.loginDiv,
.singupDiv {
  margin-top: 7.5%;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(233, 227, 227);
    background-image: url("../../assets/loginBCKI.jpeg");
  //height: 400px;
  background-color: lightgray;
  mat-radio-button ~ mat-radio-button {
    margin-left: 10px;
  }
}
.singupDiv {
  margin-top: 2%;
}
h1 {
  color: navy;
  text-align: center;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: blue !important; /*inner circle color change*/
}
::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: lightgray; /*outer ring color change*/
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0 !important; /*click effect color change*/
  background-color: lightgray;
}
.alter {
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: lightcoral;
}
.icon {
  font-size: 20px;
}
.background {
  width: 100%;
  height: 100%;
position: absolute;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color:lightgray 
}
