<app-header
  (logout)="onLogout()"
  [userName]="userName.name"
  [isStudentPage]="true"
  (onAllCourses)="onAllCourses()"
></app-header>
<div class="flex-container">
  <div class="tableContainer">
    <h2>Enrolled courses</h2>
    <h6 *ngIf="!this.dataSource.length">
      You have not enrolled to any course ,Please enroll
    </h6>
    <app-table
      [data]="dataSource"
      [colData]="colData"
      (showCourseDetail)="onShowCourseDetail($event)"
    ></app-table>
    <!-- <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      *ngIf="this.dataSource.length"
    >
      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td
          mat-cell
          *matCellDef="let element"
          (click)="onShowCourseDetail(element)"
          class="courseName"
        >
          {{ element.courseName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element.status }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table> -->
  </div>
</div>
<app-show-course-detail
  *ngIf="showCourseDetail"
  [courseDetail]="courseDetail"
  (close)="onCloseCD()"
></app-show-course-detail>
