.header {
  height: 80px;
  background-color: lightgrey;
  padding-top: 21px;
  padding-left: 50px;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40;
  // border: 1px solid black;
}
.headerButton {
  float: right;
  margin-right: 50px;
  margin-top: 1px;
  // border: 1px solid #000000;

  flex-grow: 10;
}
button ,#userName{
  float: right;
  margin-left: 30px;
}
#userName{
  margin-top: 7px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
#logoutBtn{
  margin-left: 3px;
}
.body {
  border: 1px solid black;
}
.header {
  display: flex;
  direction: column;
}
.bodyDiv{
 display: flex;
 justify-content: center;
}
th{
  font-size: 20px;  
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
}
td{
   font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
}
td:hover{
  cursor: pointer;
}
table{width: 400px;}