.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 50;
}
p {
  margin: 10px 10px 10px 15px;
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.alert-box {
  position: fixed;
  top: 30vh;
  left: 40vw;
  width: 30vw;
  padding: 16px;
  z-index: 100;
  background: navy;
  border: solid 2px black;
  border-radius: 3px;
  // box-shadow: 0 2px 8px rbga(0, 0, 0, 0.26);
}

.alert-box-actions {
  text-align: center;
}
.details{
border: 1px solid white;
border-radius: 7px;
margin: 5px;
}
// button {
//   border: solid 1px black;
//   background-color: white;
//   margin: 0px 20px 0px 20px;
// }