<app-header (logout)="onLogout()" [userName]="userName.name"></app-header>
<div class="backgroundImg">
  <div class="add-course">
    <h1>Add your course</h1>
    <form [formGroup]="createCourseForm" (ngSubmit)="onCreateCourse()">
      <mat-form-field>
        <mat-label>Enter course name</mat-label>
        <input
          appreance="outline"
          matInput
          formControlName="courseName"
          [errorStateMatcher]="matcher"
        />
        <mat-error>Enter course name</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Duration of course(hours)</mat-label>
        <input
          matInput
          formControlName="duration"
          [errorStateMatcher]="matcher"
        />
        <mat-error>Total duration in number</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Enter prerequisites</mat-label>

        <input
          matInput
          formControlName="prerequisites"
          [errorStateMatcher]="matcher"
        />
        <mat-error>Enter at least one prerequisite</mat-error>
      </mat-form-field>

      <br /><br />

      <span (click)="onClose()"> Cancel </span>

      <button mat-raised-button color="basic">Add course</button>
    </form>
  </div>
</div>
