.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 50;
}
p {
  margin: 10px 0px 0px 15px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
}
.alert-box {
  position: fixed;
  top: 30vh;
  left: 20vw;
  width: 60vw;
  padding: 16px;
  z-index: 100;
  background: black;
  border: solid 2px black;
  border-radius: 7px;
  // box-shadow: 0 2px 8px rbga(0, 0, 0, 0.26);
}

.alter {
  text-align: right;
}
button {
  border: solid 1px black;
 background-color: white;
  margin: 0px 20px 0px 20px;
}